.learnMore {
    color: var(--primary-orange) !important;
    font-weight: 500;
    font-size: 0.9rem;
}

.focusImageContainer {
    max-width: 100%;
    width: 450px;
}

.issueImage {
    max-width: 100%;
    height: 100%;
}

.issueCard {
    transition: background-color 0.25s ease !important;
    border-radius: 0.75rem !important;
}

.issueCard:disabled {
    opacity: 0.8;
}

.issueCardSelected,
.issueCard:hover {
    color: white !important;
    background-color: var(--primary-orange) !important;
}

.issueText {
    color: rgb(var(--bs-dark-rgb));
}

.issueCardSelected .issueText,
.issueCardSelected .learnMore,
.issueCard:hover .issueText,
.issueCard:hover .learnMore {
    color: white !important;
}
