:root {
    --primary-purple: #351f75;
}

.App {
    height: 100vh;
    background-color: var(--primary-purple);
}

html {
    background-color: var(--primary-purple);
}

.btn-primary {
    background-color: var(--primary-purple) !important;
    border: purple !important;
}
