.imageContainer {
    height: 5rem;
    width: 5rem;
    overflow: hidden;
    border-radius: 100%;
}

.image {
    transform: translate(-49px, -70px) scale(0.5);
    -webkit-transform: translate(-49px, -70px) scale(0.5);
    -moz-transform: translate(-49px, -70px) scale(0.5);
    -o-transform: translate(-49px, -70px) scale(0.5);
}

.lcvScoreContainer {
    height: 1.05rem;
}
