:root {
  --bs-primary-rgb: 226,188,243 !important;
  --bs-dark-rgb: 46, 38, 108 !important;
  --primary-orange: #fc4b13;
}

.btn-primary {
  background-color: var(--primary-orange) !important;
  border-color: var(--primary-orange) !important;
}

.btn {
  -webkit-transition: .1s opacity linear !important;
  -moz-transition: .1s opacity linear !important;
  -o-transition: .1s opacity linear !important;
  transition: .1s opacity linear !important;
}

.btn:hover {
  opacity: .8;
}

.App {
  text-align: center;
  background-color: #2e266c;
  font-size: 1.5rem;
  color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.progress {
  height: 1.5rem !important;
}

.vh-50 {
  height: 50vh;
}

.card-title {
  color: rgb(var(--bs-dark-rgb));
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 750px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}