:root {
  --bs-primary-rgb: 226,188,243 !important;
  --orange: 
}

.btn-primary {
  background-color: #fc4b13 !important;
  border-color: #fc4b13 !important;
}

.btn {
  -webkit-transition: .1s opacity linear !important;
  -moz-transition: .1s opacity linear !important;
  -o-transition: .1s opacity linear !important;
  transition: .1s opacity linear !important;
}

.btn:hover {
  opacity: .8;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #2e266c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
